-r requirements.txt
autoawq @ git+https://github.com/casper-hansen/AutoAWQ/releases/download/v0.1.7/autoawq-0.1.7+cu118-cp310-cp310-linux_x86_64.whl
sentence-transformers>=2.0.0
vllm==0.2.1
xformers==0.0.22

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1