[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
transformers = "*"
uvicorn = "*"
nltk = "*"
torch = "*"
huggingface_hub = "*"
gensim = "*"

[dev-packages]
httpx = "*"

[requires]
python_version = "3.10"
