asgi-lifespan>=2.0
cachetools==5.3.3
fastapi>=0.108.0
gensim>=4.3
gcld3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
httpx
protobuf==3.20.*
pydantic
scipy==1.12
sentry-sdk[fastapi]
spacy>=3.0,<4.0
supabase>=2.5.0
transformers>=4.40.0
vllm>=0.4.1
youtube_transcript_api>=0.6.0

--extra-index-url https://download.pytorch.org/whl/cu121
torch